* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Segoe UI, sans-serif;
  background: #e9ebf8;
}

header {
  background: #fefffe;
  color: rgb(0, 32, 96);
  min-height: 500px;
  width: 45%;
  padding: 15px;
  border-radius: 15px;
  font-size: 1.1rem;
  text-align: left;
  margin: 20px auto;
  vertical-align: middle;
  box-shadow: 3px 4px 8px 0px rgba(43, 121, 160, 0.829);
  display: flex;
  position:relative;

  align-items: center;
}

main {
}


h1 {
  font-size: 2rem;
  color: rgb(0, 153, 153);
  letter-spacing: 3px;
  margin: 0 15px;
}

h2 {
  font-size: 1.3rem;
  margin: 0 0 5px 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  margin: 6px;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#PhotoPro {
  display: block;
  border-radius: 15px;
  max-height: 100%;
  width: auto;
  margin: 0 50px;
}

.FirstNameLastNameFonction p {
  padding: 0 0 0 15px;
}


.stage {
  background-color: #e9ebf8;
  min-width: 80%;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 0 black;
  padding: 15px;
  margin: 15px 0;
}

.contact {
  margin: 15px;
}

.contact li img {
  vertical-align: middle;
}

.softSkills {
  color:#fefffe;
  background: #8D818C;
  height: 40%;
  width: 20%;
  position:absolute;
  top:25%;
  right: -13%;
  font-size: 1.1rem;
  border-radius: 150px;
  padding: 15px;
  margin: 0 50px;
  text-align: center;
 }



.box2 {
}

.qualifications,
.training,
.experiencesPro {
  background: #fefffe;
  min-height: 500px;
  width: 50%;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  margin: 20px auto;
  vertical-align: middle;
  box-shadow: 3px 4px 8px 0px rgba(43, 121, 160, 0.829);
  display: flex;
  align-items: center;
}

.qualifications h2,
.training h2,
.experiencesPro h2 {
  width: 300px;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.training1,
.training2,
.qualifications1,
.qualifications2,
.experiencesPro1,
.experiencesPro2 {
  margin: 0 0 15px 0;
}

.hardSkills {
  background: #fefffe;
  min-height: 500px;
  width: 50%;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  margin: 20px auto;
  vertical-align: middle;
  box-shadow: 3px 4px 8px 0px rgba(43, 121, 160, 0.829);
  display: flex;
  align-items: center;
}



.stage li img {
  vertical-align: middle;
}
